.tag-select-container:focus {
    border: none;
    outline: none;
}

.react-select-tag {
    border-radius: 7px;
    font-size: 13px;
    font-family: Poppins;
    color: black;
    font-weight: 500;
    width: 362px;
}