body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inp {
  border: none;

  border: 2px solid rgb(70, 70, 95);
  border-radius: 4px;
  width: 200px;
  height: 20px;


}



.select {
  border: none;
  margin-left: 10px;
  padding: 4px;
  width: 60px;
  border-radius: 4px;
  height: 24px;
}

.btn {
  border: none;
  margin-left: 10px;
  padding: 4px;
  width: 60px;
  border-radius: 4px;
  height: 24px;
}

*:focus {
  outline: none;
}

.list {
  margin-top: 5px;
  list-style: none;


}

hr {
  opacity: 30%;
}

.check {
  opacity: 0;
}